/build/
/dist/
/elasticsearch-1.5.2/
#**/private
private.xml
*.log
oracledb.properties
mongodb.properties
mssqldb.properties
csvdb.properties
*.sql
*.json
*.DS_Store
*.csv
bulkRecords.txt

apisetup.md
mongotemptest.bin
temp.bin
testdb.properties
project.properties
*.properties
